Manifest.toml

# VSCode
/.vscode

# Jupyter
*.ipynb_checkpoints

# OS X
.DS_Store

# Vim
.*.sw[omp]

*/*.png
*/*.vti
*/*.vtm
*/*.vtr
*/*.h5

*.png
*.vti
*.vtm
*.h5
*.txt
*.out
*.vtr
*.vts
*.history
*.bmp
*.gif
*.jld2
*/*/checkpoint/*
